<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSHomeRestoration.Opt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SSHomeRestoration.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SSHomeRestoration.Properties.Settings.sshrConnectionString" connectionString="server=localhost;user id=sshr;database=sshr;allowbatch=True" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SSHomeRestoration.Opt>
            <setting name="invoicemanageonstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="workordermanagershow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="generalLog" serializeAs="String">
                <value />
            </setting>
            <setting name="errorLog" serializeAs="String">
                <value />
            </setting>
        </SSHomeRestoration.Opt>
        <SSHomeRestoration.Options>
            <setting name="invoicemanageonstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="workordermanagershow" serializeAs="String">
                <value>False</value>
            </setting>
        </SSHomeRestoration.Options>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>