<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net461" />
  <package id="SilentCommons.WinFormControls" version="1.0.4389.8555" targetFramework="net461" />
</packages>